$color_bg_tinted: #fbfbfc;

$color_border: #dedede;

$screen__xs: 0; // Mobile Small
$screen__sm: 576px; // Mobile Extra Large
$screen__md: 768px; // Desktop Small
$screen__lg: 992px; // Desktop Large
$screen__xl: 1200px; //Desktop X-Large
$screen__xxl: 1475px;
